@tailwind base;
@tailwind components;
@tailwind utilities;

$disabledButtonColor: rgb(199, 210, 254);

* {
  display: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.post:nth-last-child(-n + 2),
.todo-item:nth-last-child(-n + 2) {
  padding-bottom: 20px;
}

.disabled {
  background-color: $disabledButtonColor;
}
